<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.fluttify.baidu_face_flutter">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity android:name=".OfflineFaceLivenessActivity"
                  android:theme="@style/TranslucentStatus" />
    </application>
</manifest>
